@page "/"

<div class="welcome pt-5 pb-5">
    <div class="d-flex justify-content-center">
        <h2 class="greeting">Welcome!</h2>
    </div>
</div>

<!-- second background -->
<div class="second-background">
    <div class="grid-1 container gap-4">
        <div class="card cards" style="width: 18rem;">
            <img style="width: 18rem; height: 19rem;" src="https://images.all-free-download.com/images/graphiclarge/hd_picture_of_the_beautiful_natural_scenery_03_166249.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card cards" style="width: 18rem;">
            <img style="width: 18rem; height: 19rem;" src="https://images.all-free-download.com/images/graphiclarge/beautiful_natural_scenery_04_hd_pictures_166229.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card cards" style="width: 18rem;">
            <img style="width: 18rem; height: 19rem;" src="https://images.all-free-download.com/images/graphiclarge/beautiful_natural_scenic_03_hd_picture_166230.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card cards" style="width: 18rem;">
            <img style="width: 18rem; height: 19rem;" src="https://images.all-free-download.com/images/graphiclarge/beautiful_natural_scenery_01_hd_picture_166232.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>
<div>
    <Footer />
</div>




