<nav class="footer">
    <div class="container pt-5 grid-2">
        <div class="opening-hours">
            <h5>Opening Hours:</h5>
            <p class="mt-4">MONDAY……….9:00 – 22:00</p>
            <p>TUESDAY……….9:00 – 22:00</p>
            <p>WEDNESDAY……….9:00 – 22:00</p>
            <p>THURSDAY……….9:00 – 22:00</p>
            <p>FRIDAY……….9:00 – 00:00</p>
            <p>CLOSED</p>
            <p>CLOSED</p>
        </div>
        <div class="opening-hours">
            <h5>Opening Hours:</h5>
            <p class="mt-4">MONDAY……….9:00 – 22:00</p>
            <p>TUESDAY……….9:00 – 22:00</p>
            <p>WEDNESDAY……….9:00 – 22:00</p>
            <p>THURSDAY……….9:00 – 22:00</p>
            <p>FRIDAY……….9:00 – 00:00</p>
            <p>CLOSED</p>
            <p>CLOSED</p>
        </div>
        <div class="opening-hours">
            <h5>Opening Hours:</h5>
            <p class="mt-4">MONDAY……….9:00 – 22:00</p>
            <p>TUESDAY……….9:00 – 22:00</p>
            <p>WEDNESDAY……….9:00 – 22:00</p>
            <p>THURSDAY……….9:00 – 22:00</p>
            <p>FRIDAY……….9:00 – 00:00</p>
            <p>CLOSED</p>
            <p>CLOSED</p>
        </div>
    </div>
</nav>

@code {

}
