<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
            <div class="d-flex align-items-center">
                <i class="icon me-2 fab fa-angellist"></i>
                <span class="me-5 signature">AS</span>
            </div>
        </NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link text-white me-3" aria-current="index" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="issues">Issues</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="createissue">Create Issue</NavLink>
                </li>
            </ul>

        </div>
        <span class="navbar-text">
            <ul class="nav">
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="signin">Login</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="register">Register</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="logout">Logout</NavLink>
                </li>

            </ul>
        </span>
    </div>
</nav>



@code {

}
